LANGCHAIN_API_KEY=abc
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=workmate

OPENAI_MODEL=gpt-4o-mini
OPENAI_TEMPERATURE=0.1
OPENAI_API_KEY=abc

# LiveKit Configuration
# Docker Run Command:
# docker run --rm -p 7880:7880 -p 7881:7881 -p 7882:7882/udp -e LIVEKIT_KEYS="livekit: livekit_secret" livekit/livekit-server --dev --bind 0.0.0.0
LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=livekit
LIVEKIT_API_SECRET=livekit_secret