fastapi==0.135.2
uvicorn[standard]==0.41.0
sqlalchemy==2.0.48
python-jose[cryptography]==3.5.0
bcrypt==5.0.0
python-multipart==0.0.22
aiofiles==25.1.0
pydantic==2.12.5
pydantic-settings==2.13.1
openai==2.26.0
python-dotenv==1.2.2
httpx==0.28.1
langchain==1.2.12
langchain-openai==1.1.11
langsmith==0.7.16
langgraph==1.1.2
langgraph-checkpoint-sqlite==3.0.3
aiosqlite==0.22.1